<!DOCTYPE html>
<html>
<head>
  <title>K-Means Clustering Results</title>
</head>
<body>
  <h1>K-Means Clustering Results</h1>
  <table>
    <thead>
      <tr>
        <th>Cluster</th>
        <th>Crops</th>
      </tr>
    </thead>
    <tbody>
      {% for cluster, crops in cluster_results.items %}
        <tr>
          <td>{{ cluster }}</td>
          <td>
              <ul>
                {% for crop in crops %}
                  <li>{{ crop }}</li>
                {% endfor %}
              </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
