{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
  </form>

  {% if nitrogen_min %}
    <h2>Summary for {{ form.cleaned_data.crops }}</h2>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Minimum</th>
          <th>Average</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nitrogen</td>
          <td>{{ nitrogen_min }}</td>
          <td>{{ nitrogen_avg }}</td>
          <td>{{ nitrogen_max }}</td>
        </tr>
        <tr>
          <td>Phosphorous</td>
          <td>{{ phosphorous_min }}</td>
          <td>{{ phosphorous_avg }}</td>
          <td>{{ phosphorous_max }}</td>
        </tr>
        <tr>
          <td>Potassium</td>
          <td>{{ potassium_min }}</td>
          <td>{{ potassium_avg }}</td>
          <td>{{ potassium_max }}</td>
        </tr>
        <tr>
          <td>Temperature</td>
          <td>{{ temperature_min }}</td>
          <td>{{ temperature_avg }}</td>
          <td>{{ temperature_max }}</td>
        </tr>
        <tr>
          <td>Rainfall</td>
          <td>{{ rainfall_min }}</td>
          <td>{{ rainfall_avg }}</td>
          <td>{{ rainfall_max }}</td>
        </tr>
        <tr>
          <td>Humidity</td>
          <td>{{ humidity_min }}</td>
          <td>{{ humidity_avg }}</td>
          <td>{{ humidity_max }}</td>
        </tr>
        <tr>
          <td>pH</td>
          <td>{{ ph_min }}</td>
          <td>{{ ph_avg }}</td>
          <td>{{ ph_max }}</td>
        </tr>
      </tbody>
    </table>
  {% endif %}
{% endblock %}
